
/* this is conflicting with as a global style with other files */

/* p{
    margin: 20px 40px;
    font-size: 20px;
    padding: 10px;
    box-shadow: 2px 2px 20px #aaaaaa;
    border-radius: 10px;
} */